.DS_Store
*.swp
*.o
*.log
.netrwhist
.VimballRecord
.gnupg
.ssh
*.bak
.zsh-update
.config/fish/fish_history
.config/fish/fishd.*
.config/fish/functions
.emacs.d/*
.config/yarn
.vim/plugged
node_modules
*.pyc
.local/share
.config/awesome
.config/kitty
.config/raycast/extensions
.config/karabiner
.config/weechat
.oh-my-zsh
tmux-powerline
.weechat
