[user]
	name = ratazzi
    email = ratazzi.potts@gmail.com

[github]
    user = ratazzi

[core]
    editor = vim
	quotepath = false
    # gitproxy = /Users/ratazzi/.dotfiles/socks5proxywrapper for github.com
	excludesfile = /Users/ratazzi/.gitignore_global

[color]
    ui = true
    status = true
    branch = true
    diff = true

[merge]
    tool = vimdiff

[i18n]
    commitencoding = utf-8
    logoutencoding = utf-8

[alias]
    st = status
    last = log -1 HEAD
    unstage = reset HEAD --
[diff]
	tool = vimdiff
[difftool]
	prompt = No
[push]
	default = matching
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
