[user]
	name = ratazzi
	email = ratazzi.potts@gmail.com
	signingkey = 1F7CD01704C1A706

[github]
    user = ratazzi

[core]
    editor = vim
	quotepath = false
    # gitproxy = /Users/ratazzi/.dotfiles/socks5proxywrapper for github.com
	excludesfile = /Users/ratazzi/.gitignore_global

[color]
    ui = true
    status = true
    branch = true
    diff = true

[merge]
    tool = vimdiff

[i18n]
    commitencoding = utf-8
    logoutencoding = utf-8

[alias]
    st = status
    last = log -1 HEAD
    unstage = reset HEAD --
[diff]
	tool = vimdiff
    compactionHeuristic = true
[difftool]
	prompt = No
[push]
	default = matching
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/ratazzi/.stCommitMsg
	gpgsign = true
[diff "lockb"]
	textconv = bun
	binary = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = master
